/*------------*/
/* Reset      */
/*------------*/

/*---Box Sizing---*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---Set Font Size---*/
html {
  font-size: 100%;
}

/*---Reset Margins---*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
picture,
figure {
  margin: 0;
}

/*---Reset Font Weight---*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/*---Set up Body---*/
body {
  line-height: 1.5;
  min-height: 100vh;
}

/*---Make Images Easier To Work With---*/
img,
picture {
  width: 100%; /*Helps with responsive image resizing */
  display: block; /*Eliminates some white space issues */
}

/*---Make Forms Easier To Work With---*/
input,
button,
textarea,
select {
  font: inherit; /*Keep fonts consistant in form elements */
}

/*---Remove Animations For People Who Have Them Turned Off---*/
@media (prefers-reduced-motion: reduce) {
  /*Could also be set to no preference in certain circumstances */
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 0 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------*/
/* Custom Properties */
/*-------------------*/

:root {
  /* Colors */
  --clr-black: 0, 0%, 0%;
  --clr-text-black: 0, 0% 20%;
  --clr-white: 0, 0%, 100%;
  --clr-red: 6, 86%, 56%;
  --clr-red-deep: 6, 85%, 35%;
  --clr-pink: 22, 55%, 82%;
  --clr-pink-light: 22, 54%, 89%;
  --clr-grey-dark: 0, 0%, 29%;
  --clr-blue-light: 190, 60%, 51%;
  --clr-blue-grey: 210, 14%, 53%;
  --clr-yellow: 48, 87%, 65%;
  --clr-brown-grey: 18, 4%, 50%;

  /* Font Families */
  --ff-serif: 'Crimson Text', serif;
  --ff-sans-normal: 'Work Sans', sans-serif;
  --ff-sans-cond: 'Ubuntu Condensed', sans-serif;

  /* Font Sizes */
  --fs-900: 3.5rem;
  --fs-800: 2.5rem;
  --fs-700: 2.25rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font Weight */
  --fw-200: 200;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  /* Font Style */
  --fstyle-italic: italic;

  /* Spacing */
  --flow-space: 1rem;
}

/*-----------------*/
/* Utility Classes */
/*-----------------*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.flow > *:where:not(:first-child) {
  margin-top: var(--flow-space);
}
.container {
  padding: 0 2em;
  max-width: var(--max-width, 80rem);
  margin-left: auto;
  margin-right: auto;
}
.sr-only {
  /*Screen Reader Only for Acessibility Improvements */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.align-items {
  align-items: center;
}
.justify-items {
  justify-items: center;
}

/* Colors */
.bg-pink {
  background-color: hsl(var(--clr-pink));
}
.bg-yellow {
  background-color: hsl(var(--clr-yellow));
}
.bg-red {
  background-color: hsl(var(--clr-red));
}
.text-dark {
  color: hsl(var(--clr-text-black));
}
.text-grey {
  color: hsl(var(--clr-grey-dark));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-blue-light {
  color: hsl(var(--clr-blue-light));
}
/* Typography */

.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: var(--fstyle-italic);
}

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 1px;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
/*--------------*/
/* Styling      */
/*--------------*/
body {
  min-height: 100vh;
  flex-direction: column;
  --gap: 0px;
}
.headerMenuWrap,
.footerMenuWrap {
  padding: 10px 10px;
  height: 80px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}
.headerFirstItem,
.headerFirstItem:visited,
.headerFirstItem:hover {
  text-decoration: none;
  margin-right: auto;
  font-family: var(--ff-sans-normal);
  color: hsl(var(--clr-text-black));
  font-weight: 700;
  font-size: var(--fs-800);
}
.headerListItem,
.footerListItem {
  text-decoration: none;
  margin: 0 16px;
  color: hsl(var(--clr-white));
  font-size: var(--fs-600);
  font-family: var(--ff-sans-normal);
}
.headerListItem:hover,
.footerListItem:hover {
  color: hsl(var(--clr-blue-light));
  padding-bottom: 6px;
  border-bottom: solid 2px;
  transform: translate(0, 2px);
}
.footerMenuWrap {
  justify-content: center;
}
.currentLink,
.currentLink:hover {
  color: hsl(var(--clr-white));
  padding-bottom: 6px;
  border-bottom: solid 2px;
  transform: translate(0, 2px);
}
.pageMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../images/miscUse/heroImages/bedotiaHeroCrop_2400.jpg');
  background-size: cover;
  aspect-ratio: 2.4;
}
.heroText,
.actionCall {
  max-width: 75%;
  align-self: flex-end;
  padding-right: 30px;
  padding-bottom: 20px;
}
.postHero {
  justify-content: space-evenly;
}
.postHero__text {
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  line-height: 1.2;
  padding: 30px 20px;
  max-width: 40vw;
  text-align: center;
  background-color: hsl(var(--clr-pink-light));
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--clr-text-black);
}

@media only screen and (min-width: 560px) {
  .navIcon {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .navName {
    display: none;
  }
}
