/**Base Setting**/
html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/**Header Styles Mobile First**/
.headerMenuWrap,
.footerMenuWrap {
  background-color: #ef4430;
  padding: 0.5rem 0.5rem;
  min-height: 2.25rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}

.headerFirstItem,
.headerFirstItem:visited,
.headerFirstItem:hover {
  font-family: 'Merriweather Sans', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  margin-right: auto;
  line-height: 1.25rem;
}
.headerListItem,
.footerListItem {
  color: white;
  text-decoration: none;
  font-family: 'Oswald', serif;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  padding: 0 1rem;
}
.headerListItem:last-of-type {
  padding-right: 0.75rem;
}
.headerListItem:hover,
.footerListItem:hover {
  color: #3a9bc8;
}
.footerMenuWrap {
  justify-content: center;
}

/**Content**/
.pageMain {
  padding: 0 5% 4rem 5%;
  background-color: rgba(196, 106, 54, 0.356);
  color: #4a4a4a;
  min-height: 100vh;
}
.sectionTitle {
  padding: 2rem 0rem;
}
/** Typography **/
/**additional fonts
font-family: "Neuton", serif;
font-family: "Oswald", sans-serif;
**/
h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  color: black;
}
h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5rem;
  padding: 1.5rem 2rem 0.5rem 2rem;
  font-weight: 700;
  color: black;
}
p {
  font-weight: 400;
  font-family: 'Neutron', serif;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  line-height: 2.5rem;
  color: black;
}
ul {
  font-weight: 400;
  font-family: 'Neutron', serif;
  font-size: 2rem;
  padding: 1rem 1rem;
  line-height: 2.5rem;
  color: black;
}

.photo {
  width: 50%;
  padding: 1.11rem;
  border-radius: 5px;
  margin: 0 auto 2.44rem auto;
  background-color: white;
}
.projectPhoto {
  width: 50%;
  padding: 1.11rem;
  border-radius: 5px;
  margin: 0 auto 2.44rem auto;
  background-color: white;
}
.projectPhoto .image-container {
  overflow: hidden;
  /* margin-bottom: 1rem; */
}
.photo .image-container {
  overflow: hidden;
  /* margin-bottom: 1rem; */
}
#italic {
  font-style: italic;
}
.photo .image-container img {
  width: 100%;
}
.projectPhoto .image-container img {
  width: 100%;
}
.projectPhoto .caption {
  font-family: 'Abel', sans-serif;
  line-height: 2.5rem;
  font-style: italic;
}
.photo .caption {
  font-family: 'Abel', sans-serif;
  line-height: 2.5rem;
  font-style: italic;
}

.photo .first {
  position: relative;
  top: -2.77rem;
  margin-bottom: 1.67rem;
}

.headShot {
  width: 100px;
  height: auto;
  border-radius: 50%;
  padding-right: 25px;
}
.projectIcon {
  width: 100px;
  height: auto;
  border-radius: 50%;
  padding-right: 25px;
}
.headShotLeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 25px;
  font-family: 'Merriweather', sans-serif;
  flex-wrap: nowrap;
}
.headShotLeader #italic {
  padding: 0px 5px;
}

/** Card Styles **/
.cardGridWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardImg img {
  max-width:300px;
  height: auto;
  padding: 5px;
  filter: drop-shadow(5px 5px 5px #857E7B);
}
.cardBody {
  max-width: 310px;
  border: 1px #0D0A0B solid;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  text-align: center;
  background-color: #F3D559;
  color: #0D0A0B;
  filter: drop-shadow(5px 5px 5px #6E8387);
}
.cardText {
  font-size: 1 rem;
  line-height: 1.1rem;
}

/**Footer style**/

.pageFooter {
  margin-top: auto;
}

/** Media queries **/

@media only screen and (max-width: 560px) {
  .navName {
    display: none;
  }


/**Header Styles Responsive**/
@media only screen and (min-width: 560px) {
  .navIcon {
    display: none;
  }
}
@media only screen and (min-width: 650px) {
  .headerListItem,
  .footerListItem {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 700px) {
  .headerFirstItem,
  .headerFirstItem:visited,
  .headerFirstItem:hover {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .headerListItem {
    font-size: 1.5rem;
  }
  .headerFirstItem,
  .headerFirstItem:visited,
  .headerFirstItem:hover {
    font-size: 2rem;
  }
}
