.speciesSummary {
  width: 600px;
}
.speciesDiscussion {
  width: 700px;
}
.supportBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: #4a4a4a 2px solid;
  padding: 25px 15px;
}
/** Map styles **/
#map {
  width: 100%;
  height: 400px;
  margin: 15px 0px 0px 0px;
  box-shadow: var(--shadow-elevation-medium-img);
}

.mapH3 {
  padding: 0.5px;
  font-size: 1rem;
  font-weight: 800;
}
.mapPara {
  font-size: 1rem;
  line-height: normal;
}

/** Tab Styles **/


/** Media queries **/
@media only screen and (max-width: 560px) {
  .navName {
    display: none;
  }
  .tabset > ul label {
    font-size: 0.75rem;
  }
}

/**Header Styles Responsive**/
@media only screen and (min-width: 560px) {
  .navIcon {
    display: none;
  }
  .speciesImages img {
    max-width: 450px;
    height: auto;
  }
  #map {
    width: 450px;
    height: 450px;
    margin: 15px 0px 0px 0px;
  }
  .in h1 {
    font-size: 1.75rem;
  }
  .speciesMain h2 {
    font-size: 1.5rem;
  }
  .speciesMain h4 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  .speciesSummary li,
  p,
  a {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 650px) {
  .headerListItem,
  .footerListItem {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 700px) {
  .headerFirstItem,
  .headerFirstItem:visited,
  .headerFirstItem:hover {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .headerListItem {
    font-size: 1.5rem;
  }
  .headerFirstItem,
  .headerFirstItem:visited,
  .headerFirstItem:hover {
    font-size: 2rem;
  }
  .speciesImages img {
    max-width: 500px;
    height: auto;
  }
  #map {
    width: 500px;
    height: 500px;
    margin: 15px 0px 0px 0px;
  }
  .speciesMain h1 {
    font-size: 2rem;
  }
  .speciesHeader {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .speciesMain h2 {
    font-size: 1.75rem;
  }
}
