/** Header styles **/
.menuWrap {
  background-color: #ef4430;
  padding: 0.5rem 1rem;
  min-height: 2.75rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}

.firstItem,
.firstItem:visited,
.firstItem:hover {
  font-family: "Merriweather Sans", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 3rem;
  margin-right: auto;
}
.listItem {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-family: "Oswald", serif;
  font-size: 2rem;
  letter-spacing: 0.125rem;
  padding-right: 5px;
}
.listItem:hover {
  color: #3a9bc8;
}
/**Content**/
.journal {
  max-height: fit-Content;
}
/** Typography **/
/**additional fonts
font-family: "Neuton", serif;
font-family: "Oswald", sans-serif;
**/
h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  color: black;
}
p {
  font-weight: 400;
  font-family: "Neutron", serif;
  font-size: 2rem;
  padding: 1rem 1rem;
  line-height: 2.5rem;
  color: black;
}
ul {
  font-weight: 400;
  font-family: "Neutron", serif;
  font-size: 2rem;
  padding: 1rem 1rem;
  line-height: 2.5rem;
  color: black;
}
.journal {
  padding: 0 10% 4rem 10%;
  background-color: rgba(196, 106, 54, 0.356);
  color: #4a4a4a;
}
.photo {
  width: 50%;
  padding: 1.11rem;
  border-radius: 5px;
  margin: 0 auto 2.44rem auto;
  background-color: white;
}
.photo .image-container {
  overflow: hidden;
  /* margin-bottom: 1rem; */
}
#italic {
  font-style: italic;
}
.photo .image-container img {
  width: 100%;
}

.photo .caption {
  font-family: "Abel", sans-serif;
  line-height: 2.5rem;
  font-style: italic;
}

.photo .first {
  position: relative;
  top: -2.77rem;
  margin-bottom: 1.67rem;
}

/**Footer style**/
.pageFooter {
  background-color: #ef4430;
  padding: 0.5rem 1rem;
  min-height: 2.75rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}
.headShot {
  width: 100px;
  height: auto;
  border-radius: 50%;
  padding-right: 25px;
}
.headShotLeader {
  display: flex;
  align-items: center;
  margin: 0px 25px;
  font-family: "Merriweather", sans-serif;
}
.headShotLeader #italic {
  padding: 0px 5px;
}
.collapseAfter > a {
  text-decoration: none;
  color: white;
}
/** Collapsible CSS **/
.toggle_collapse {
  /* make it show to work across all ua's */
  display: block;
}
.toggle_collapse, /* hide off screen */
.toggle_collapse + * > .collapseAfter ~ * {
  position: absolute;
  /*top:-999em; removed to stop page jump to header */
  left: -999em;
}
.toggle_collapse:checked + * .collapseAfter ~ * {
  position: static;
}
.toggle_collapse + * + label {
  display: inline-block; /* make visible for screen media */
  color: #ef4430;
}
.toggle_collapse + * + label:before {
  content: "See More";
}
.toggle_collapse:checked + * + label:before {
  content: "See Less";
}
.toggle_collapse + * + label:after {
  content: "\25BC";
  display: inline-block;
  padding: 0.4em 0 0 0.3em;
  vertical-align: top;
  font-size: 0.625em;
}
.toggle_collapse:checked + * + label:after {
  content: "\25B2";
}

/** Banner style
#banner {
  background-image: url("https://bn1ap000files.storage.live.com/y4m5BHvjMEtJH4AGUysTGbUbr7K1lKMCL_TSWS7nJXBAuadzEbtywNCYamtnQZJf60fILyyu8TAdA4glqj-ysreg3kS-gHcwEr7_qvKceYA2AnWU71W_VT07U5g_3K42NOkl5HYP0j-K0PbvgxKgJcxE6Zub84I9OkPorYrMjMiU9rMIYD3l2RtoypmwpwtOBUQ?width=1000&height=667&cropmode=none");
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0em 0.5em;
}
.content {
  background-image: linear-gradient(
    0deg,
    hsla(0, 0%, 35.29%, 0) 0%,
    hsla(0, 0%, 34.53%, 0.034375) 16.36%,
    hsla(0, 0%, 32.42%, 0.125) 33.34%,
    hsla(0, 0%, 29.18%, 0.253125) 50.1%,
    hsla(0, 0%, 24.96%, 0.4) 65.75%,
    hsla(0, 0%, 19.85%, 0.546875) 79.43%,
    hsla(0, 0%, 13.95%, 0.675) 90.28%,
    hsla(0, 0%, 7.32%, 0.765625) 97.43%,
    hsla(0, 0%, 0%, 0.8) 100%
  );
}
**/
