/** Header styles **/
nav {
  background-color: #ef4430;
  padding: 0.5em 0em;
  margin: 0em 0.5em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
nav li {
  display: inline;
  font-size: 2rem;
  padding-right: 1.5rem;
}
nav h1 {
  color: black;
  font-size: 3rem;
  padding-left: 1rem;
}
nav a:link {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: #3a9bc8;
}
nav a:visited {
  color: #f3d559;
}
h1 a,
h1 a:visited,
h1 a:hover {
  color: black;
}
/** Typography **/
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  color: black;
}
p {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 1rem 1rem;
  line-height: 1.5rem;
  color: black;
}

/** Banner style 
#banner {
  background-image: url("https://bn1ap000files.storage.live.com/y4m5BHvjMEtJH4AGUysTGbUbr7K1lKMCL_TSWS7nJXBAuadzEbtywNCYamtnQZJf60fILyyu8TAdA4glqj-ysreg3kS-gHcwEr7_qvKceYA2AnWU71W_VT07U5g_3K42NOkl5HYP0j-K0PbvgxKgJcxE6Zub84I9OkPorYrMjMiU9rMIYD3l2RtoypmwpwtOBUQ?width=1000&height=667&cropmode=none");
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0em 0.5em;
}
.content {
  background-image: linear-gradient(
    0deg,
    hsla(0, 0%, 35.29%, 0) 0%,
    hsla(0, 0%, 34.53%, 0.034375) 16.36%,
    hsla(0, 0%, 32.42%, 0.125) 33.34%,
    hsla(0, 0%, 29.18%, 0.253125) 50.1%,
    hsla(0, 0%, 24.96%, 0.4) 65.75%,
    hsla(0, 0%, 19.85%, 0.546875) 79.43%,
    hsla(0, 0%, 13.95%, 0.675) 90.28%,
    hsla(0, 0%, 7.32%, 0.765625) 97.43%,
    hsla(0, 0%, 0%, 0.8) 100%
  );
}
**/
